<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- requisitos para acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- requisitos para usar camera do celular -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_entrega_novo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEntregasFoto"
        tools:targetApi="31">
        <activity
            android:name=".ActivityMostraArquivoImgHawb"
            android:exported="false" />
        <activity
            android:name=".ActivityBaixaHawbFoto"
            android:exported="false" />
        <activity
            android:name=".ActivityHAWB"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEntregador"
            android:exported="false"
            android:label="Importa Entregador">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityOcorrencia"
            android:exported="false"
            android:label="Importa Ocorrência">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityBaixaHawb"
            android:exported="false"
            android:label="Baixa de HAWBs">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityMostraHawbEntregue"
            android:exported="false"
            android:label="Lista HAWBs Entregues">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityMostraDetalheHAWB"
            android:exported="false"
            android:label="Mostra Detalhe HAWB">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityMostraTodasHawb"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="meu_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/caminho_arquivo" />
        </provider>
    </application>

</manifest>